{% extends "base.html" %}
{% block content %}
    
    {% for mess in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="fade close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ mess }}
  </div>
  {% endfor %}
  
  <form method="POST">
        {{form2.hidden_tag()}}
        {{form2.gensetYesNo}}
        {{form2.submit()}}
  </form>
    
  {% endblock %}


