{% extends "base.html" %}
{% block content %}

{% for mess in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="fade close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ mess }}
  </div>
  {% endfor %}
<p>Con gas</p>
<form method="POST">
    {{form2.hidden_tag()}}
    <p>Hashrate esperado</p>{{form2.hashratevariation}}
    <p>Evolución de precio esperada</p>{{form2.btcpricevariation}}
    <p>Número de mineros</p>{{form2.numminers}}
    <p>Mining yield</p>{{form2.miningyield}}
    <p>Date</p>{{form2.date}}
    <p>Savings</p>{{form2.savings}}
    {{form2.submit()}}
</form>
{% endblock %}