{% extends "base.html" %}
{% block content %}
{% for mess in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="fade close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ mess }}
  </div>
  {% endfor %}
  
<form method="POST">
    {{form.hidden_tag()}}
    <p>Hashrate esperado</p>{{form.hashratevariation}}
    <p>Evolución de precio esperada</p>{{form.btcpricevariation}}
    <p>Número de mineros</p>{{form.numminers}}
    <p>Mining yield</p>{{form.miningyield}}
    <p>Date</p>{{form.date}}
    <p>Savings</p>{{form.savings}}
    {{form.submit()}}
</form>
{% endblock %}