{% extends "base.html" %}
{% block content %}

{% for mess in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="fade close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ mess }}
  </div>
  {% endfor %}

<form method="POST">
    {{form3.hidden_tag()}}
    <p>Hashrate esperado</p>{{form3.hashratevariation}}
    <p>Evolución de precio esperada</p>{{form3.btcpricevariation}}
    <p>Número de mineros</p>{{form3.numminers}}
    <p>Mining yield</p>{{form3.miningyield}}
    <p>Date</p>{{form3.date}}
    <p>Savings</p>{{form3.savings}}
    {{form3.submit()}}
</form>
{% endblock %}